@import "tailwindcss";

:root {
  --background: #F3F5EE;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #F3F5EE;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


html {
  scroll-behavior: smooth;
}


/* .......... css .......  */

.empowering-women {
  position: relative;
}

.empowering-women::before {
  content: "";
  position: absolute;
  width: 574px;
  height: 100%;
  background: url(/images/ellipse-img-right.png) no-repeat;
  top: 0px;
  right: 0px;
}

.empowering-women::after{
  content: "";
  position: absolute;
  width: 318px;
  height: 1000px;
  background: url(/images/ellipse-left.png) no-repeat;
  top: 0px;
  left: 0px;
}

.card-what-we-do {
  position: relative;
  transition: all 0.3s ease;
}

.card-what-we-do:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.card-what-we-do::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 70px;
  background-color: #81BA45;
  top: 40px;
  left: 0px;
}

.whatwedo-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0;
  margin-top: 28px !important;
  list-style: none;
}

.whatwedo-dots li {
  width: auto !important;
  height: auto !important;
  margin: 0 !important;
}

.whatwedo-dot {
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  background-color: #d1d5db;
  transition: all 0.3s ease;
  cursor: pointer;
}

.whatwedo-dots li.slick-active .whatwedo-dot {
  background-color: #81ba45;
  width: 28px;
}

.whatwedo-slider .slick-track {
  display: flex !important;
}

.whatwedo-slider .slick-slide {
  height: inherit !important;
}

.whatwedo-slider .slick-slide>div {
  height: 100%;
}

.whatwedo-slider .slick-track {
  display: flex !important;
}

.whatwedo-slider .slick-slide {
  height: auto;
}

.whatwedo-slider .slick-slide>div {
  height: 100%;
}


.chairman-details {
  position: relative;
}

.chairman-details {
  position: relative;
}

.chairman-details::after {
  content: "";
  position: absolute;
  left: -40px;
  top: 80%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: #fff;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.text-line-main{
  display: flex;
  align-items: center;
  gap: 8px;
}
.text-line{
  width: 30px;
  height: 4px;
  background-color: #81BA45;
}


